body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

#new-task {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-task {
    width: 100%;
    padding: 10px;
    background-color: #2a2828;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #2a2828;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
}

.task.completed {
    text-decoration: line-through;
    color: #999;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.task button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.task button:hover {
    background-color: #c82333;
}

.task .edit {
    background-color: #007bff;
    margin-right: 5px;
}

.task .edit:hover {
    background-color: #0069d9;
}
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-list a:hover {
    background-color: #575757;
    border-radius: 4px;
}